<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

	<targets xsi:type="AsyncWrapper">
		<!--保存至文件-->
		<target name="log_file" xsi:type="File"
					fileName="${basedir:processDir=true}/Logs/${shortdate}/log.txt"
					layout="----------${level}----------${newline}${longdate}${newline}${message}${exception}${newline}"/>
	</targets>
	<rules>
		<!--<logger name="*" levels="Debug" writeTo="log_file" />-->
		<logger name="*" level="Info" writeTo="log_file" />
		<logger name="*" levels="Error" writeTo="log_file" />
		<logger name="*" level="Fatal" writeTo="log_file" />
		<logger name="*" level="Warn" writeTo="log_file" />
	</rules>
</nlog>